@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

form {
    font-family: 'Open Sans', sans-serif;
    color: maroon;
    background-color: peachpuff;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button, input {
    font-family: inherit;
}

fieldset {
    border: 2px solid chocolate;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    margin: 20px 40px;
}

legend {
    letter-spacing: 1px;
    font-weight: 600;
}

label {
    display: block;
    padding: 10px;
    margin: 5px 10px;
}

input {
    margin: 0 10px;
}

textarea {
    display: block;
    margin-top: 10px;
}

button {
    font-size: 14px;
    letter-spacing: 1px;
    background-color: chocolate;
    color: peachpuff;
    border: 1px solid maroon;
    border-radius: 30px;
    padding: 8px 12px;
    margin: 5px 20px;
    }

button:hover {
    cursor: pointer;
}